@media screen and (min-width: 900px) {
    .main {
        display: flex;
        flex-direction: column;
        color: #c685e4;
        padding-top: 50px;
    }

    .title {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        padding: 0 3vw;
    }

    .title1 {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 0 3vw;
        margin-top: 40px;
    }

    .head {
        font-size: 65px;
        font-weight: bold;

    }

    .line {
        width: 70%;
        background-color: #c685e4;
        height: 6px;
        border-radius: 10px;
    }

    .skills {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        padding: 50px 3vw;
        justify-items: center;
        align-items: center;
        justify-self: center;
        column-gap: 10px;
    }

    @media (prefers-color-scheme: dark) {}
}

@media screen and (max-width: 900px) and (min-width: 520px) {
    .main {
        display: flex;
        flex-direction: column;
        color: #c685e4;
        padding-top: 50px;
    }

    .title {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        padding: 0 3vw;
    }

    .title1 {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 0 3vw;
        margin-top: 40px;
    }

    .head {
        font-size: 65px;
        font-weight: bold;

    }

    .line {
        width: 70%;
        background-color: #c685e4;
        height: 6px;
        border-radius: 10px;
    }

    .skills {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        padding: 50px 3vw;
        justify-items: center;
        align-items: center;
        justify-self: center;
        column-gap: 10px;
    }

    @media (prefers-color-scheme: dark) {}
}

@media screen and (max-width: 520px) {
    .main {
        display: flex;
        flex-direction: column;
        color: #c685e4;
        padding-top: 50px;
    }

    .title {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        padding: 0 3vw;
    }

    .title1 {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 0 3vw;
        margin-top: 40px;
    }

    .head {
        font-size: 65px;
        font-weight: bold;

    }

    .line {
        width: 70%;
        background-color: #c685e4;
        height: 6px;
        border-radius: 10px;
    }

    .skills {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 50px 0vw;
        justify-items: center;
        align-items: center;
        justify-self: center;
        column-gap: 10px;
    }

    @media (prefers-color-scheme: dark) {}
}